body
{
	margin: 0;
}

main
{
	margin-top: 5%;
}

.drapeau
{
	width: 100%;
	height: 650px;
	background:url("../image/japanflag.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;

}

.drapeau2
{
	width: 100%;
	height: 700px;
	background:url("../image/japanflag.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;

}


#tokyo
{
	width: 100%;
	height:950px;
	background:url("../image/tokyo.jpg");
	background-size: cover;
	background-attachment: fixed;

}

#fuji{
	width: 100%;
	height:800px;
	background:url("../image/fuji.jpeg");
	background-attachment: fixed;
	background-size: cover;
}

#miyajima
{
	width: 100%;
	height:750px;
	background:url("../image/miyajima.jpg");
	background-size: cover;
	background-attachment: fixed;

}

p
{
    font-size: 360%; 
    margin: 0%;
    text-shadow: 3px 3px 3px red;
    color: whitesmoke;
    
}

#konnichiwa
{
    position: absolute;
    top: 20%;
    left: 36%;
}

#nihoneyokoso
{
    position: absolute;
    top: 35%;
    left: 30%;
   
}

#nihon
{
	position: absolute;
    top: 50%;
    left: 42%;

}




#div-tokyo
{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:#6f1d1da1;
	color: white;
	padding: 1%;
	position: relative;
	top: 37%;
	left: 5%;
	box-shadow: 5px 5px 5px black;
	font-family: 'Rosarivo', serif;
	border-radius: 7%;
}

.japan-location
{
	border-radius: 11%;
    display: flex;
    align-items: center;
    padding: 2%;
    -webkit-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
    box-shadow: 54px 31px 29px 13px rgba(0, 0, 0, 0.7);
	margin-top: 2%;
	margin-left:45% ;
    background-image: url("../image/japan-location.jpg");
    background-size: 100%;
    height: 345px;
    width: 40%;
}

#paysdusoleillevant-h1
{
	position: relative;
	top: 12%;
	left: 30%;
	color: white;
	font-family: 'Rosarivo', serif;
	font-size: 300%;
	margin: 0;
	text-shadow: 1px 1px 1px black;
	display: block;
	width: 50%;
}

#fujih1
{
	position: relative;
	top: 5%;
	left: 32%;
	color: white;
	font-family: 'Rosarivo', serif;
	font-size: 400%;
	margin: 0;
	text-shadow: 1px 1px 1px black;
	display: block;
	width: 50%;
}

#div-fuji
{
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:#6f1d1da1;
	color: white;
	padding: 1%;
	position: relative;
	top: 15%;
	left: 5%;
	box-shadow: 5px 5px 5px black;
	font-family: 'Rosarivo', serif;
	border-radius: 7%;
	font-size: 150%;
}

.fujigif
{
	position: relative;
    top: -5%;
    left: 60%;
    border-radius: 14%;
    box-shadow:8px 8px 8px black;
}

.lien{
	color: white;
}
.div-lien{
	position: relative;
	background-color: #6f1d1da1;
    width: 10%;
	text-align: center;
	box-shadow: 5px 5px 5px black;	
	padding: 1%;
	transition: all 2s;
}
.div-lien:hover{
	transform: rotate3d(-33, 22, 4, 720deg) scale(1.3);
}

#tokyo-lien
{
	top: 10%;
	left: 42%;

}

.lien:visited{
    color: white;
}

.div-lien{
		position: relative;
		background-color:#6f1d1da1;
		width: 10%;
		text-align: center;
		box-shadow: 5px 5px 5px black;	
		padding: 1%;
		transition: all 2s;
	}
.div-lien:hover{
		transform: rotate3d(-33, 22, 4, 720deg) scale(1.3);
	}
	
#fuji-lien
	{
		top: -5%;
    	left: 25%;
	}


#miyajimah1
{
	position: relative;
	top: 10%;
	left: 34%;
    color: white;
	font-family: 'Rosarivo', serif;
	font-size: 300%;
	margin: 0;
	text-shadow: 1px 1px 1px black;
	display: block;
	width: 50%;
}
#art-miyajima
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 10%;
}
#div-miyajima
{
	width: 30%;
	background-color:#6f1d1da1;
	color: white;
	padding: 1%;
	box-shadow: 5px 5px 5px black;
	font-family: 'Rosarivo', serif;
	border-radius: 7%;
}


#miyajima-lien
	{
		top: 15%;
		left: 50%;
	}


.video-miyajima
{
    border-radius: 3%;
    box-shadow:5px 5px 5px black;
}

#lastpage-lien
{
	left: 75%;
	top: 10%;		
}




#art-japonais{
	text-align: center;
	padding-top:22%;
}

#traduction2
{
    top: 75%;
	left: 10%;
	position: relative;
	width: 80%;
}



	

