#voyage2-body{
	background: url('https://www.incimages.com/uploaded_files/image/970x450/getty_583734066_335273.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}
form{
	background-color: #efd29580;
	padding: 1%;
	border-radius: 50px 10px;
	width: 30%;
	box-shadow: 4px 4px 4px gray;
	margin: 5%;
}
h1{
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px gray;
}
label{
	display: block;
	float: left;
	width: 35%;
	font-size: 100%;
	text-align: right;
	margin: 1%;
	padding: 1%;
	color: white;
	text-shadow: 1px 1px 1px gray;
}
.inp{
	width: 50%;
	margin:1%;
	border-radius: 30px;
	padding: 1%;
	border: solid 2px #5EACB5EB;
}
textarea{
	border-radius: 30px;
	padding: 3%;
	display: block;
	margin: auto;
	border: solid 2px #5EACB5EB;
}
#submit{
	margin: auto;
	display: block;
	border-radius: 15px;
	border: solid 2px #5EACB5EB;
	background-color: white;
	width:30%;
	height: 5%;
	margin-bottom: 1%
}